.header__menu-item {
  margin-left: 39px;
  list-style-type: none;
  @include font (500, 14px, 18px);
}

.header__menu-item:last-of-type {
  margin-left: 0;
}

@media screen and (max-width: 1280px) {
  .header__menu-item {
    display: none;
  }
}