@keyframes cardBikeScroll {
  from {
    top: 347px;
  }
  
  to {
    top: 477px;
  }
}

.card-bike_animation {
  animation-name: cardBikeScroll;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}