.card-bike_place_lead {
  @include size (440px, 300px);
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  position: relative;
  top: 347px;
  left: -200px;
}

@media screen and (max-width: 768px) {
  .card-bike_place_lead {
    @include size (234px, 160px);
    top: 151px;
    left: -30px;
  }
}