.coverages__way-icon {
  @include size (100px, 40px);
  background-image: url(../../../images/coverages/highway/way-icon.svg);
  position: relative;
  top: 344px;
  left: 0;
  transition: all 2s linear;
}