.lead__image {
  @include size (42.5vw, 56vw);
  margin: 0 0 0 auto;
  background-image: url(../../../images/lead__image.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}