.coverages {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .coverages {
    margin: 40px 18px 0;
    padding-bottom: 97px;
    border-bottom: 1px solid #e3e3e3;
    flex-direction: row;
    flex-wrap: wrap;
  }
}