.footer__input {
  @include size (316px, 50px);
  @include font (500, 13px, 28px);
  padding: 11px 0 11px 20px;
  background-color: inherit;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.footer__input::-webkit-input-placeholder {
  color:#151515;
}
.footer__input::-moz-placeholder {
  color:#151515;
}
.footer__input:-moz-placeholder {
  color:#151515;
}
.footer__input:-ms-input-placeholder {
  color:#151515;
}

.footer__input:focus ~ .footer__submit {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .footer__input {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
}